<center>
<h2>Midcourse Project</h2><br>
 <br>
<%= image_tag @result["data"]["image_url"] %> 

<br>
<%= link_to "Ask Yoda How He Would Say It!", 'welcome/ask' %>

<br><br><br><br><br><br>
<%= image_tag "http://www.extension.zone/wp-content/uploads/2015/05/Giphy-logo.jpg", size: "200x100", :alt => 'logo' %>
</center>